name: Python unit testing

on:
 # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: debian:buster
    strategy:
      matrix:
        python-version: [2.7, 3.7]

    steps:
    - name: Install system packages
      run: echo "deb https://deb.debian.org/debian bullseye main" >> /etc/apt/sources.list && apt-get update && export DEBIAN_FRONTEND=noninteractive && apt-get -y install --no-install-recommends git python python-pip python3-dev python-dev python-setuptools build-essential autoconf libtool pkg-config libusb-1.0-0-dev liblzo2-dev libudev-dev
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel
        pip install flake8
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
#    - name: Lint with flake8
#      run: |
#        # stop the build if there are Python syntax errors or undefined names
#        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
#        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
#        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pwd && ls -al && cd .. && python -m unittest discover -s decoding-contour-next-link -t .
